
*.lock
Api/.vs/Api/v15/.suo
Api/.vs/Api/v15/Server/sqlite3/storage.ide
Api/.vs/Api/v15/Server/sqlite3/storage.ide-shm
Api/.vs/Api/v15/Server/sqlite3/storage.ide-wal
Api/Api.sln
Api/Api/obj/Debug/*
Api/Api/obj/Api.csproj.nuget.cache
Api/Api/obj/Api.csproj.nuget.g.props
Api/Api/obj/Api.csproj.nuget.g.targets
